<form action="/create" method="post" class="form-horizontal">
	<fieldset>
		<legend>Add a dog</legend>
		<div class="control-group">
			<label class="control-label" for="dog-name">Name</label>
			<div class="controls">
				<input type="text" id="dog-name" name="name" placeholder="Enter the dog's name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="dog-breed">Breed</label>
			<div class="controls">
				<input type="text" id="dog-breed" name="breed" placeholder="Enter the breed">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="dog-image">Photo</label>
			<div class="controls">
				<input type="text" id="dog-image" name="image" placeholder="Enter an image URL">
			</div>
		</div>
		<div class="control-group">
			<label></label>
			<div class="controls">
				<button class="btn btn-primary">Woof!</button>
			</div>
		</div>
	</fieldset>
</form>