<div class="row">
	<div class="span4 offset4">
		<h2><%= @dog['name'] %></h2>
		<% unless @dog['breed'].nil? %>
		<p>
			<%= @dog['name'] %> is a dog of breed <%= @dog['breed'] %>.
		</p>
		<% end %>
		<% unless @dog['image'].nil? %>
			<p>
				<img src="<%= @dog['image'] %>" alt="">
			</p>
		<% end %>
	</div>
</div>